
header {
    background: url("./header.svg")no-repeat;
    background-size: cover;
    height: 655px;
    padding: 0;
    display: flex;
     font-family: 'Montserrat',
     sans-serif;
}

.headerHome__logo {
    display: flex;
    justify-content: flex-start;
    padding: 24px 10px 48px 0;
    font-size: 40px;
    line-height: 49px;
    font-style: normal;
    font-weight: normal;
  font-family: 'Montserrat',
  sans-serif;
}

.headerHome__text {
    margin: 0 9vw 0 9vw;
    max-width: 620px;

    p {
        padding-top: 24px;
        width: 95%;
    }

    h1,
    h2,
    p {
        color: #ffffff;
        letter-spacing: 0.006em;
    }

    a {
        text-decoration: none;
    }
}

.headerHome__button {
    height: 56px;
    width: 154px;
    font-family: Montserrat, serif;
    font-size: 16px;
    line-height: 142%;
    color: #3A80BA;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}

.headerHome__mobile {
    margin: 70px auto 30px auto;
}



@media all and (max-width: 1000px) {
    .headerHome__text {
        margin: 0 0 0 9vw;
    }
}

@media all and (max-width: 700px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .headerHome__mobile {
        margin-top: 32px;
    }

    .headerHome__text {
        display: inline-grid;
        margin: 0 9vw 0 9vw;
    }

    .headerHome__button {
        margin: 32px auto 0 auto;
    }
}