
.card{
  max-width: 380px;
  height: auto;
  margin: 16px 10px 0 10px;
  background: #FFFFFF;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
}
.card__title{
    padding: 0 auto 14px auto;
}
.card__description{
  font-size: 16px;
  padding: 0 32px 48px 32px;
}
.card__icon{
  margin: 48px auto 40px auto;
}