.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 128px;
    list-style: none;
}

@media all and (max-width: 700px) {
    .cards {
        flex-direction: column;
    }

    .card {
        margin: 16px auto 0 auto;
    }
}