header {
     font-family: 'Montserrat',
     sans-serif;
}

 .header__logo {
   
      padding-top: 10px;
      padding-bottom: 13px;
      color: #ffffff;
      letter-spacing: 0.006em;
      font-size: 40px;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      padding-left: 130px;
      margin: 0;
}
.header__link{
   text-decoration: none;
}
.header__container{
    display: flex;
    justify-content: flex-start;
    height: 72px;
    background-color: #3A80BA;
}
.logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    margin: 0px;
}