form {
    width: 50%;
    height: 64px;
    margin: 26px auto 10px auto;
    border: 1px solid #F1F1F1;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;

    ::placeholder {
        color: #B9B9B9;
        font-family: Montserrat, serif;
    }

    input {
        height: 26px;
        width: 55%;
        margin: auto 0 auto 19px;
        border: none;
        font-size: 16px;
        line-height: 162%;
        font-family: Montserrat-Bold, serif;
    }

    button {
        width: 40%;
        height: 96%;
        margin: 2px 1px 2px auto;
        background: #3A80BA;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        line-height: 142%;
        text-align: center;
        color: #FFFFFF;
    }
}


@media all and (max-width:700px) {

    footer {
        height: auto;
    }
    form {
        display: flex;
        width: 100%;
    }
}