.navigation__container{
    display: flex;
    justify-content: flex-start; 
padding-bottom: 24px;
padding-top:16px;
width: 100%
}
.navigation__item{
font-size: 16px;
color: #CCCCCC;
line-height: 20px;
font-style: normal;
font-weight: normal;
}
.navigation__item-active {
    font-size: 16px;
    color:#3A80BA;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}